* {
    margin: 0;
    padding: 0;

    font-family: Roboto;
    font-style: normal;
}

.title-section {
    position: absolute;
    height: 10%;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #6685A2;

    color: white;
}

.title-container {
    position: absolute;
    height: 28px;
    top: 30%;
    left: 45%;

    /* H4 */
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    letter-spacing: 0.25px;

    color: #FFFFFF;
}



.main-section {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    min-height: 90vh;

    background-color: #F0F0F2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.documents-container {
    width: 60%;

    z-index: 2;
}

.documents {
    margin-left: 4%;
    margin-top: 90px;

    display: flex;
    flex-direction: column;
}

.documents-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtitle {

}

.subtitle-text {
    width: auto;
    height: 16px;

    /* H5 */

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    letter-spacing: 0.5px;

    /* Headings */

    color: #353645;
}

.documents-subtitle-total {
    width: auto;
    height: 18px;

    /* H6 text */

    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    text-align: right;

    /* Headings */

    color: #353645;
}

.documents-list {
    width: 100%;

    background-color: #F0F0F2;
}

.documents-text {
    margin-top: 10px;
}


.documents-list-text-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 10px;
    padding: 10px;
    min-height: 50px;
}


.steps-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.currentStep {
    opacity: 1;
}

.nextStep {
    opacity: 0.5;
}

.invisible {
    opacity: 0;
}

.semi-invisible {
    opacity: 0.5;
}

.visible {
    opacity: 1;
    z-index: 2;
}

.steps-text {
    margin-left: 5px;
}


.dash {
    width: 100px;
    height: 0;
    border: 1px solid black;
}



.user-data-container {
    width: 40%;
}

.doctor-name-container {
    margin-top: 80px;
    margin-left: 15%;
}

.doctor-name {
    /* H5 */

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    letter-spacing: 0.5px;

    /* Headings */

    color: #353645;
}

.label {

}

.input_field {
    width: 50%;
    height: 30px;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
}

.subscribe_button {
    width: 92px;
    height: 32px;

    margin-left: 30px;

    background: #3F5263;
    border-radius: 5px;

    color: white;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.5px;
}


.organization-name {
    margin-top: 20px;

    /* H5 */

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    letter-spacing: 0.5px;

    /* Headings */

    color: #353645;
}





.diagram {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #990;
    position: relative;
    overflow: hidden;

    margin-top: calc(25% - 125px);
    margin-left: calc(50% - 125px);
}
.diagram::before {
    content: '';
    display: block;
    position: absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    border-radius: 50%;
    background: #ccc;
    z-index: 3;
    opacity: 1;
}
.diagram .piece {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}
.diagram .piece::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
}
.diagram .piece.left {
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.left {
    transform: rotate(180deg);
}
.diagram .piece.right {
    transform: rotate(180deg);
    z-index: 1;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.diagram.over_50 .piece.right {
    transform: rotate(360deg);
}
.diagram .left::before {
    background: #059;
}
.diagram.over_50 .left::before {
    background: #990;
}
.diagram .right::before {
    background: #059;
}
.diagram .text {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.diagram .text b {
    font-size: 72px;
}
.diagram .text span {
    font-size: 16px;
    display: block;
}


@font-face {
font-family: "Roboto";
src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
